<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>nunjucks test - {{ title }}</title>
  <style>
    body {
      margin: 0;
    }
  </style>
</head>
<body>

  {% block header %}
  <header class="site-header">
    <div class="logo"><a href="/www/">logo</a></div>
    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">News</a></li>
      </ul>
    </nav>
  </header>
  {% endblock %}

  <div class="container">
    {% set username = "William Lin" %}
    <h1>Hello, {{username}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eius, quisquam, reiciendis, neque magni fugit corrupti, iste eum dignissimos ipsum qui aspernatur amet voluptas! Asperiores ea consequatur placeat saepe itaque!</p>
  </div>

  {% block footer %}
  <footer class="site-footer">
    <div class="logo-footer"><a href="/www/">logo</a></div>
    <div class="copyright">&copy; 2017</div>
  </footer>
  {% endblock %}

  {% raw %}
    <h2 class="new">content</h2>
  {% endraw %}

  {% macro field(name, value='', type='text') %}
  <div class="field">
    <input type="{{ type }}" name="{{ name }}"
           value="{{ value | escape }}" />
  </div>
  {% endmacro %}
  {{ field('pass', type='password') }}
{% set code = 'header {\n  left: 100px; \n}' %}
<pre>
{{ code | escape }}
</pre>
</body>
</html>