<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>nunjucks test - About</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
</head>
<body>

  
  <header class="site-header clearfix">
    <div class="container">
      <div class="logo"><a href="/www/"><img src="http://placehold.it/100x30/F39260/F39260" alt=""></a></div>
      <form action="" class="header-search">
        <input type="text" placeholder="Search ...">
        <button>Search</button>
      </form>
      <nav class="site-nav">
        <ul>
          
          
          <li ><a href="index.html">Home</a></li>
          
          <li class=current><a href="about.html">About</a></li>
          
          <li ><a href="news.html">News</a></li>
          
        </ul>
      </nav>
    </div>
  </header>
  

  
  <div class="container">
    about
  </div>
  

  
  <footer class="site-footer">
    <div class="container clearfix">
      <div class="logo-footer"><a href="/www/">logo</a></div>
      <div class="copyright">&copy; </div>
    </div>      
  </footer>
  
</body>
</html>