{# {% set imageCount = 1 %} #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>nunjucks test - {{ title }}</title>
  <link rel="stylesheet" type="text/css" href="./assets/css/main.css"/>
</head>
<body>

  <!-- header start -->
  {% block header -%}
  <header class="site-header clearfix">
    <div class="container">
      <div class="logo"><a href="/www/">nunjucks{{imageCount}}</a></div>
      <form action="" class="header-search">
        <input type="text" placeholder="Search ...">
        <button>Search</button>
      </form>
      <nav class="site-nav">
        <ul>
          {# Loop through all the users -#}
          {% set pages = ['home', 'about', 'news'] -%}
          {% for item in pages -%}
          <li {{ 'class=current' if page === item }}><a href="{{ item | replace('home', 'index') }}.html">{{ item | capitalize }}</a></li>
          {% endfor -%}
        </ul>
      </nav>
    </div>
  </header>
  {%- endblock %}

  <!-- main start -->
  {% block main -%}
  <div></div>
  <div class="container">
    <div class="banner">
      <figure><a href=""><img src="{{ images[9] }}?w=1000&h=500" alt=""></a></figure>
      <h2>{{ headings | random | truncate(40, true) }}</h2>
    </div>
    
    <ul class="news-list">
      {% include 'partials/sidebar.njk' ignore missing %}
      {% include 'partials/sidebar.njk' ignore missing %}
{#       {% if page === 'home' %}
        {% include 'partials/sidebar-home.njk' ignore missing %}
      {% else %}
        {% include 'partials/sidebar-sub.njk' ignore missing %}
      {% endif %}
 #}    </ul>
  </div>
  {%- endblock %}

  <!-- footer start -->
  {% block footer -%}
  <footer class="site-footer">
    <div class="container clearfix">
      <div class="logo"><a href="/www/">nunjucks</a></div>
      <div class="copyright">&copy; {{ year }} The Company Name , INC. All Rights Reserved.</div>
    </div>      
  </footer>
  {%- endblock %}
</body>
</html>