{% macro li(count, randomData = false) %}
{% for i in range(0, count) -%}
  <li><a href=""><img src="{{ images | random if randomData else images[i] }}?w=100&h=60" alt=""><span>{{ headings[i] | truncate(40, true) }}</span></a></li>
{% endfor %}
{% endmacro %}