{% import './news.njk' as news with context %}

{% if page === 'home' %}
  {{ news.li(5, false) }}
  {% set imageCount = imageCount + 5 %}
{% else %}
  {{ news.li(8, false) }}
  {% set imageCount = imageCount + 8 %}
{% endif %}

